a {
  color:#000;
  text-decoration:underline;
  }
  
  html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  }
  
  body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    margin: 0;
    background-color: #F0F5F8;
  }
  
  *,
  :after,
  :before {
  box-sizing: inherit
  }
  
  ol,
  ul {
  margin: 0 0 1.5em 1em
  }
  
  li>ol,
  li>ul {
  margin-bottom: 0;
  margin-left: 10px
  }
  
  .text_block table {
  width: 100%
  }
  
  .text_block td, .text_block th {
  padding: 10px;
  text-align: left;
  }
  
  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px 135px;
    z-index: 5;
    margin-bottom: 50px;
  }
  
  main {
    padding: 0 135px 25px;
  }
  
  .text_block table {
    border-spacing: 0 15px;
    width: 100%
    }
    
  .text_block table tbody tr {
    background-color: #F0F5F8;
    color: #1C4F5B;
  }
  
  .text_block table tbody tr a {
    color: #1C4F5B;
    text-decoration: none;
  }
  
  .text_block .table_container {
    overflow: auto;
  }
  
  .logo {
    width: 210px;
    height: 50px;
  }
  
  .buttons, .bonus_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .buttons a, .bonus_buttons a {
    padding: 11px 20px;
    border-radius: 12px;
    white-space: nowrap;
    background-color: #e1f3f7;
    color: #1095B5;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
  
  .bonus_buttons a {
    width: calc(50% - 8px);
    text-align: center;
    max-width: 400px;
  }
  
  .buttons a:last-of-type, .bonus_buttons a:last-of-type {
    background-color: #FF9E2C;
    color: #fff;
  }
  
  h1 {
    font-size: 44px;
    font-weight: 800;
    color: #1095b5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .main_description p {
    font-weight: 400;
    font-size: 18px;
    color: #1c4f5b;
    line-height: 26px;
    letter-spacing: 1%;
    margin-top: 0;
    text-align: center;
  }
  
  .main_description {
    padding: 0 80px;
  }
  
  .main_description a {
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(#FF9E2C, #FFB72C);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 130px;
    border-radius: 12px;
    margin: 0 auto;
    margin: 0 auto;
    display: inline-block;
    white-space: nowrap;
  }
  
  .main_description > div {
    width: min-content;
    margin: 0 auto;
  }
  
  .site_block {
    margin-bottom: 50px;
  }
  
  .reg_container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .categories_container {
    padding: 40px 32px;
    min-width: 400px;
    border-radius: 17px;
    background-color: #fff;
  }
  
  .categories_container h2 {
    color: #1C4F5B;
    font-size: 18px;
    margin-bottom: 16px;
    margin: 0 0 10px 0;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .selection_container {
    background-color: #F0F5F8BF;
    border-radius: 17px;
    padding: 10px 20px;
  }
  
  .selection_container > p {
    color: #77959D !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
  }
  
  .category {
    background-color: #fff;
    cursor: pointer;
    height: 72px;
    text-decoration: none;
    display: flex;
    border-radius: 17px;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    gap: 10px;
  }
  
  main .hot_bonus {
    background-color: #FFEEDA;
  }
  
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
  
  .category p {
    font-size: 15px;
    font-weight: 500;
    color: #1c4f5b;
  }
  
  .categories_container p {
    color: #1C4F5B;
    margin: 15px 0;
    text-align: center;
  }
  
  .button_container a {
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(#FF9E2C, #FFB72C);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 125px;
    border-radius: 12px;
    margin: 0 auto;
    margin: 0 auto;
    display: inline-block;
    white-space: nowrap;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
  }
  
  .active_bonuses {
    display: flex !important;
    flex-direction: column;
  }
  
  .bonuses_container {
    display: none;
    gap: 20px;
    width: 100%;
  }
  
  .bonus_text {
    width: 100%;
  }
  
  .bonus_text p {
    margin: 12px 0;
    line-height: 20px;
  }
  
  .bonus {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 14px 25px 14px 15px;
    border-radius: 17px;
    background-color: #fff;
    height: 210px;
    gap: 20px;
  }
  
  .bonus h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 12px;
    line-height: 28px;
    color: #000;
    margin-top: 10px;
  }
  
  .text_block {
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 17px;
  }
  
  .text_block h2 {
    margin-top: 0;
    color: #1C4F5B;
    font-size: 18px;
    font-weight: 600;
  }
  
  .readmore__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  button.readmore__toggle {
    display: flex;
    margin: 0 auto;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out transform 0.1s;
    border-radius: 2rem;
    text-align: center;
  }
  
  .toggle {
    transform: rotate(180deg) !important;
  }
  
  .tables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .tables td {
    min-height: 50px;
  }
  
  .tables tr td:first-of-type {
    white-space: nowrap;
    border-radius: 17px 0 0 17px;
  }
  
  .tables tr td:last-of-type {
    border-radius: 0 17px 17px 0;
  }
  
  .table_flex {
    display: flex;
  }
  
  .tables_wrapper {
    width: 100%;
  }
  
  .tables_wrapper table {
    margin-bottom: 0;
  }
  
  .two_rows_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .row {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: start;
    gap: 30px;
    border-radius: 17px;
    width: calc(50% - 15px);
      background-color: #F0F5F8;
      color: #1C4F5B;
  }
  
  .row p {
    margin: 0;
  }
  
  footer {
    background-color: #191A1F;
    display: flex;
    flex-direction: column;
    padding: 50px 135px;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  footer h4 {
    color: #3AAF3C;
    white-space: nowrap;
    font-weight: 700;
    margin: 0;
    line-height: 22px;
    font-size: 18px;
  }
  
  .approve {
    width: 180px;
  }
  
  footer p {
    color: #fff;
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    line-height: 16px;
  }
  
  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .active {
    border: 1px solid #FF9E2C;
  }
  
  .bonus img {
    width: 250px;
    height: 173px;
    object-fit: cover;
    border-radius: 17px;
  }
  
  .active rect {
    fill: rgba(255, 158, 44, 0.1);
  }
  
  .active path {
    fill: rgba(255, 158, 44, 1);
    stroke: rgba(255, 158, 44, 1);
  }
  
 body  ::backdrop {
    overflow: hidden;
  }
  
  dialog {
    border-radius: 17px;
    cursor: default;
    z-index: -1;
   }
   
   dialog img {
    width: 100%;
   }
  
  .modal__overlay .description-modal__img {
    width: 100%;
    height: auto;
    border-radius: 17px;
  }
  
  .modal.promo-item-modal .modal-body {
    padding: 32px 8px 22px 32px;
    margin: 0;
  }
  
  .description-modal {
    position: relative;
    display: flex;
    max-height: 600px;
  }
  
  .description-modal__img-wrap {
    max-width: 365px;
    flex-shrink: 0;
  }
  
  .description-modal__btn-desktop {
    margin: 32px auto 0;
  }
  
  .btn-action, .btn-primary {
    color: #fff;
    background: linear-gradient(180deg, #ff9e2c, #ffb72c), #ff9e2c;
    border-color: linear-gradient(180deg, #ff9e2c, #ffb72c), #ff9e2c;
  }
  
  .btn-block {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 12px;
  }
  
  .btn-lg {
    padding: 12px 19px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .btn-lg, .btn-md {
    font-size: 15px;
    line-height: 18px;
  }
  
  .description-modal__content-wrap {
    overflow: auto;
  }
  
  .description-modal__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1c4f5b;
    padding: 0 32px;
  }
  
  .description-modal__text {
    padding: 0 32px;
    overflow: auto;
    margin-right: 4px;
  }
  
  .description-modal__btn-mobile {
    display: none;
  }
  
  .modal-body {
    max-width: 940px;
  }
  
  ::-webkit-scrollbar {
    background: rgba(223, 234, 240, 1);
    height: 5px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(223, 234, 240, 1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffb72c;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffb72c;
  }
  
  dialog, dialog button {
    border: none !important;
  }
  
  .description-modal__text table, .description-modal__text table td, .description-modal__text table th {
    border: 1px solid rgba(185, 197, 225, .3);
  }
  
  .description-modal__text table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  .description-modal__text h4 {
    margin: 0;
    color: #1c4f5b;
  }

  .description-modal__text p, .description-modal__text th, .description-modal__text td {
    color: #1c4f5b;
  }

  .description-modal__text a {
    text-decoration: none;
    color: #1c4f5b;
  }

  .btn-action, .btn-primary {
    color: #fff;
    background: linear-gradient(180deg, #ff9e2c, #ffb72c), #ff9e2c;
    border-color: linear-gradient(180deg, #ff9e2c, #ffb72c), #ff9e2c;
}

.btn-block {
  display: flex;
  width: 100%;
}

.btn-action .btn__label, .btn-primary .btn__label {
  font-weight: 700;
  text-align: center;
}

.btn-close-circle, .dropdown-wrapper__close, .modal-header__close, .sidebar__content .close-sidebar {
  position: fixed;
  width: 48px;
  height: 48px;
  top: 16px;
  right: 18px;
  padding: 0;
  border: none;
  border-radius: 12px;
  background-color: #e1f3f7;
  z-index: 111111;
  cursor: pointer;
}

.btn-close-circle:before, .dropdown-wrapper__close:before, .modal-header__close:before, .sidebar__content .close-sidebar:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/cross.svg) no-repeat;
  background-size: cover;
}

.mobile_footer_img {
  display: none;
}

@media (max-width: 1330px) {
  main {
    padding: 0 80px 35px;
  }

  .bonus h3 {
    margin-bottom: 4px;
    font-size: 20px;
  }

  .bonus_text p {
    margin: 7px 0;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  main {
    padding: 0 30px 25px;
  }

  footer, header {
    padding: 25px 30px;
  }
}

@media (max-width: 1024px) {
  .footer_title_container h4 {
    text-align: center;
    white-space: wrap ;
  }
  .footer_title_container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
  }
  .footer_top {
    flex-direction: column;
  }

  .tables, .reg_container {
    flex-direction: column;
  }

  .mobile_footer_img {
    display: inline-block;
  }

  .desktop_footer_img {
    display: none;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 720px) {
  .tables {
    gap: 0;
  }

  .footer_top {
    flex-direction: column;
  }

  main {
    padding: 0 16px 0px;
  }

  footer, header {
    padding: 10px 16px;
  }

  .bonus {
    flex-direction: column;
    padding: 0;
    gap: 0;
    height: auto;
  }

  .bonus_text {
    padding:  14px;
  }
  
  .bonus img {
    width:  100%;
    height: auto;
  }

  .main_description {
    padding:  0px;
  }

  .logo {
    width: 84px;
    height: 20px;
  }

  .buttons a {
    padding: 7px 12px;
  }

  .main_description a {
    padding: 12px 70px;
  }

  .categories_container {
    padding:  30px 20px;
  }

  .button_container a {
    padding: 12px 100px;
  }

  .two_rows_container {
    flex-direction: column;
    gap: 10px;
  }

  .row {
    width: 100%;
  }

  .categories_container {
    width: auto;
    min-width: auto;
  }

  .tables tr td:first-of-type {
    white-space: wrap;
  }

  .text_block table tbody tr td, .row p {
    font-size: 15px;
  }

  .selection_container {
    padding: 10px 15px;
  }

  .description-modal {
    display: flex;
    overflow: auto;
    flex-direction: column;
  }

  .btn-block {
    display: none;
  }

  .description-modal__img-wrap {
    width: 100%;
    max-width: none;
  }

  .description-modal__text, .modal-body {
    padding: 0 8px;
  }

  .description-modal__content-wrap {
    overflow: visible;
  }

  .btn-mobile {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .footer_top > div {
    display: flex;
    align-items: center;
  }
}
